In [1]:
#import anc2vec
#es = anc2vec.get_embeddings()
#pip install -U "anc2vec @ git+https://github.com/aedera/anc2vec.git"
#https://github.com/aedera/anc2vec

In [9]:
import pandas as pd
import pathlib
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [5]:
input_file = pathlib.Path('../data/02_intermediate/updated2_gff_prokka.csv')
df_x = pd.read_csv(input_file, sep=',')

In [11]:
annot = df_x['annot'].values
onehot_encoder = OneHotEncoder()
onehot_annotations = onehot_encoder.fit_transform(annot.reshape(-1, 1))

In [16]:
print(onehot_annotations.shape)
print(len(df_x))
print(len(set(df_x['annot'])))

(37489, 5474)
37489
5474

In [20]:
df_x.go.str.split('|', expand=True)

                                                       0
0                                             GO_0003697
1      GO_0042802,GO_0016887,GO_0005524,GO_0004386,GO...
2                                             GO_0003796
3                                                    NaN
4                                             GO_0003796
...                                                  ...
37484                                         GO_0004719
37485                   GO_0003677,GO_0034335,GO_0005524
37486  GO_0042910,GO_0042802,GO_0015199,GO_0015220,GO...
37487        GO_0004634,GO_0042802,GO_0042803,GO_0000287
37488                              GO_0046872,GO_0016787

[37489 rows x 1 columns]